.form-box {
    padding: 40px;
  }

.form-box .input-box {
    position: relative;
  }
  
  .form-box .input-box input {
    width: 70%;
    padding: 15px;
    font-size: 16px;
    color: var(--bl);
    margin-bottom: 20px;
    border: 1px solid var(--bl);
    border-radius: 5px;
    outline: none;
    background-color: transparent;
  }
  .form-box .input-box label {
    position: absolute;
    top:5px;
    left: 15px;
    padding: 5px;
    font-size: 16px;
    color: var(--bl);
    background-color: var(--wh);
    pointer-events: none;
    transition: .5s;
  }

  .form-box .input-box  input:focus ~ label,
  .form-box .input-box  input:valid ~ label{
    top: -5px;
    left: 20px;
    color:rgb(74, 117, 131);
    font-size: 14px;
  }
 /* express checkout  */
 .expressCheckout{
  min-width: 360px;
  width: 80%;
  margin:30px auto;
 }
 .expressCheckout img{
  width: 200px;
  border-radius: 10px;
 }
 .expressCheckout button{
  all:unset;
  background-color: var(--bl);
  color:var(--wh);
  padding:5px 40px;
  border-radius: 5px;
  transition: background-color 0.5s;
 }
 .expressCheckout button:hover{
  background-color: var(--wh);
  color:var(--bl);
  border:1px solid var(--bl)
 }
 .expressCheckout input{
  width: 50px;
  outline:none;
 }
 .expressCheckout div{
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  min-width: 240px;
 }
 .expressCheckout .checkoutInfo .total{
  color:green;
 }